{% extends 'template.html' %}
{% load staticfiles %}
{% load static %}

{% block body%}
<div class="container-fluid text-center">
  <h1> Manager </h1>
  <div class="container-fluid" style="padding:0px;">
  <div class="row">
    <!-- Left side which holds the search bar , list of contacts and page number -->
    <div class="col-lg-7" style="background-color:red;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            1 of 3
          </div>
          <div class="col-lg-12">
            2 of 3
          </div>
          <div class="col-lg-12">
            2 of 3
          </div>
        </div>
      </div>
    </div>
    <!-- holds add contact -->
    <div class="col-lg-5" style="background-color:blue;">
      <div class="row">
        <div class="col-lg-12">
          1 of 3
        </div>
        <div class="col-lg-12">
          2 of 3
        </div>
        <div class="col-lg-12">
          2 of 3
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock%}
